.leftC {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 0px 0px 0px;
  margin: 200px 0px 0px 0px;
  background-color: rgb(0, 0, 0);
}

.buttonWidgetLeft {
  border-color: #a970fd;
  border-width: 2px;
  border-radius: 5px;
  background-color: inherit;
  margin: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px;
  color: #a970fd;
  padding: 10px 0px 10px 0px;
  transition-delay: 500ms;
  transition: 0.5s;
}

.buttonWidgetLeft:hover {
  border-color: #a970fd;
  border-width: 2px;
  margin: 10px -40px 10px 10px;
  background-color: inherit;
  color: #a970fd;
  background-color: #444444;
}

.CarouselDash {
  width: auto;
  height: 500px;
  margin: auto;
}
