.ConnectModal {
  display: flex;
  margin-top: 100px;
  border: 1px;
  border-width: 20px;
  border-radius: 100px;
}

.ConnectHeadMod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  color: #eeeef0;
}

.ConnectBodyMod {
  background-color: rgb(63, 63, 63);
}

.ConnectFootMod {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ConnectlogoMod {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.ConnectServiceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border: #a970fd;
  border-width: 2px;
  border-radius: 10px;
  background-color: #18181b;
  box-shadow: 7px 7px 2px -2px rgba(122, 122, 122, 0.67);
  margin: 10px 0px 10px 0px;
}

.ConnectionMarquer {
  margin: 10px 5px 10px 5px;
  padding: 15px 5px 15px 5px;
}
