.UnHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: black;
}

.RightItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.Button {
  font-size: 24px;
  background-color: inherit;
  border-color: black;
  color: #a970fd;
  padding: 1px 50px 1px 50px;
  transition-delay: 500ms;
  transition: 0.5s;
}

.Button:hover {
  font-size: 32px;
  border-color: black;
  border-bottom-color: #a970fd;
  border-width: 2px;
  margin-left: 40px;
  background-color: inherit;
  color: #a970fd;
  padding: 1px 50px 1px 50px;
}

.Logo {
  width: 50px;
  height: 50px;
}
