.WidgetCard {
  background-color: #1f1f23;
  box-shadow: 7px 6px 5px 2px rgba(99, 99, 99, 0.77);
  margin: 10px 30px 10px 40px;
  color: #d2d2d7;
  border-radius: 20px;

  animation: widgetMove 1s;

  padding-right: 15px;
  padding-left: 15px;

}

@keyframes widgetMove {
  from {
    left: 50px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
.WeatherWidgetBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #494949;
  border-radius: 20px;
  margin: 1px 10px 10px 10px;
}
.WeatherWidgetHead {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.FormWidget {
  margin: 0px 40px 5px 10px;
}


.NasaModal {
  display: flex;
  border-radius: 20px;
}

.NasaHeadMod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  color: #eeeef0;
}

.NasaBodyMod {
  display: flex;
  align-items: center;
  background-color: rgb(63, 63, 63);
}

.NasaFootMod {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(36, 36, 36);
  color: #d2d2d7;
}

.NasalogoMod {
  height: 400px;
  width: 450px;
 }

.DropDownTime {
  background-color: #494949;
  color: #1f1f23;
  width: auto;
}
