.Modal {
  display: flex;
  margin-top: 100px;
  border: 1px;
  border-width: 20px;
  border-radius: 100px;
}

.HeadMod {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.LogBodyMod {
  color: rgb(37, 37, 37);
}

.FootMod {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logoMod {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.Button {
  border-color: #b793e6;
  border-width: 2px;
  border-radius: 5px;
  margin-left: 40px;
  background-color: inherit;
  color: #b793e6;
  padding: 1px 50px 1px 50px;
  transition-delay: 500ms;
  transition: 0.5s;
}

.Button:hover {
  border-color: #b793e6;
  border-width: 2px;
  margin-left: 40px;
  background-color: inherit;
  color: #b793e6;
  background-color: white;
  padding: 1px 50px 1px 50px;
}
