.TrelloButton {
  border-color: #a970fd;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
  background-color: #18181b;
  color: #a970fd;
  /* padding: 5px 5px 5px 5px; */
  transition-delay: 500ms;
  transition: 0.5s;
}

.TrelloButton:hover {
  border-color: #b793e6;
  border-width: 2px;
  color: #b793e6;
  background-color: #2e2e2e;
}

.TrelloLogo {
  height: 20px;
  width: 20px;
  margin: 20px;
}

.ConnectionLogo {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 30px;
}
